@using DependencyInjection.Services.ServiceScope;
@inject TransientService TransientService
@inject SingletonService SingletonService
@inject ScopedService ScopedService

<h3>ExampleComponent2</h3>
<p>Transient service data: @TransientService.ExampleId</p>
<p>Singleton service data: @SingletonService.ExampleId</p>
<p>Scoped service data: @ScopedService.ExampleId</p>