@page "/compare-service-scopes"
@using DependencyInjection.Components

<h3>CompareServiceScope</h3>
<div>
    <div style="border: solid 3px">
        <ExampleComponent1 />
    </div>
    <div style="border: solid 3px">
        <ExampleComponent2 />
    </div>
</div>