@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

Demonstrates the dependency injection Blazor Server .NET 7 - Blazor School
<br />
If you are looking for more Blazor Server tutorials, please go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.

<div><NavLink href="compare-service-scopes">Compare Service Scopes</NavLink></div>
<div><NavLink href="injecting-services">Injecting Services</NavLink></div>
<div><NavLink href="auto-registering-service">Auto Registering Service</NavLink></div>